body {
  color: $main-color;
  font-family: $font-family-main;
  letter-spacing: 0.04em;
}
body.modal-open{
  overflow: hidden;
}
body.no-scroll{
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
.link__border{
  &:hover{
    border-color: $link-border-background;
  }
  &:focus{
    color: $main-color;
    border-color: $link-border-background;
  }
}
