.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: in(50%);
          clip-path: in(50%);
  margin: -1px;
}

body {
  color: #fcfcfc;
  font-family: "Monserrat", sans-serif;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section:nth-child(odd) {
  background-color: #84a178;
}

.section:nth-child(even) {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
}

@media screen and (max-width: 767px) {
  .section:nth-child(even) {
    background-image: url("../images/backgroud-mobile-885.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section:nth-child(even) {
    background-image: url("../images/backgroud-mobile-885@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .section:nth-child(even) {
    background-image: url("../images/background-tablet-983.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section:nth-child(even) {
    background-image: url("../images/background-tablet-983@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section:nth-child(even) {
    background-image: url("../images/backgroud-desktop-1300.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section:nth-child(even) {
    background-image: url("../images/backgroud-desktop-1300@2x.jpg");
  }
}
.page-header {
  position: relative;
  background-color: #84a178;
  padding-top: 12px;
  padding-bottom: 50px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .page-header {
    padding-top: 14px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 8px;
    padding-bottom: 45px;
  }
}
.logo__icon {
  fill: #f8d24e;
}

.logo__link {
  display: inline-block;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__link--nav {
  display: inline;
}

@media screen and (max-width: 767px) {
  .logo__link--nav {
    padding-left: 20px;
  }
}
@media screen and (max-width: 479px) {
  .logo__link {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .logo__icon {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .logo__link--nav {
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__icon {
    width: 60px;
    height: 65px;
  }
}
.modal-window {
  position: fixed;
  padding: 28px 28px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 280px;
  height: 991px;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}
.modal-window.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.modal-window__backdrop {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  opacity: 0;
  display: none;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 12px;
  right: 12px;
  background-color: #fcfcfc;
  border: #fcfcfc;
}

.modal-window__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Seymour One", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
}

.modal-window__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-window__item {
  position: relative;
  height: 199px;
  margin-bottom: 20px;
}

.modal-window__item:last-child {
  margin-bottom: 31px;
}

.modal-window__img {
  position: absolute;
  z-index: 2;
}

.ellipse {
  position: relative;
  top: 7px;
  width: 132px;
  height: 132px;
  border-radius: 100%;
  z-index: 1;
}
.ellipse__ice-cream {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.ellipse__coffee {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.ellipse__milkshake {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.card {
  position: absolute;
  width: 132px;
  height: 136px;
  border-radius: 15px;
}
.card__ice-cream {
  top: 63px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.card__ice-coffee {
  top: 62px;
  background: #efd478;
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}
.card__milkshake {
  top: 64px;
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.modal-window__text {
  text-align: center;
  padding-top: 96px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #131313;
}

.modal-form {
  display: block;
}

.modal-form__field {
  text-align: left;
  margin-bottom: 12px;
}
.modal-form__field:last-child {
  margin-bottom: 0;
}

.modal-form__input {
  width: 100%;
  height: 32px;
  padding: 0 0 0 12px;
  cursor: pointer;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
.modal-form__input--comment {
  display: block;
  resize: none;
  height: 65px;
  padding-top: 8px;
}
.modal-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #131313;
}
.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #131313;
}

.modal-form__button {
  display: flex;
  justify-content: center;
}

.modal-form__submit {
  width: 114px;
  height: 42px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  background-color: #f8d24e;
  border: 0;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .modal-close {
    width: 24px;
    height: 24px;
  }
  .modal-window__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .modal-window {
    position: fixed;
    width: 568px;
    height: 644px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-window__list {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .modal-window__item {
    margin-bottom: 0;
    margin-right: 32px;
  }
  .modal-window__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .modal-form__field {
    margin-bottom: 16px;
  }
  .modal-form__field:last-child {
    margin-bottom: 32px;
  }
  .modal-form__input {
    height: 42px;
    padding: 0 0 0 16px;
  }
  .modal-form__input--comment {
    height: 84px;
    padding-top: 11px;
  }
  .modal-form__input::-moz-placeholder {
    font-size: 14px;
  }
  .modal-form__input::placeholder {
    font-size: 14px;
  }
  .modal-form__submit {
    width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }
}
.mobile-menu-btn {
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  background-color: #84a178;
}

.mobile-menu-btn__icon {
  fill: #fcfcfc;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 999;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  background-color: #84a178;
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 20px;
  border: 0;
  padding: 0;
  fill: #fcfcfc;
  background-color: #84a178;
}

.mobile-menu__container {
  position: relative;
  padding-top: 12px;
  padding-bottom: 64px;
}

.mobile-menu__nav {
  margin-bottom: 51px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav__item {
  margin-bottom: 32px;
}
.nav__item:last-child {
  margin-bottom: 110px;
}

.nav__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: #fcfcfc;
}
.nav__link:hover, .nav__link:focus {
  color: #131313;
}

.nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;
  border: 0;
  border-radius: 10px;
  color: #000000;
  background-color: #f8d24e;
}

.nav__icon {
  margin-left: 4px;
  color: currentColor;
}

@media screen and (max-width: 767px) {
  .btn-buy {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
  .nav__link {
    font-size: 48px;
    line-height: 1.22;
  }
  .mobile-menu-btn {
    position: absolute;
    top: 29px;
    right: 216px;
  }
  .btn-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 152px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21px;
    border: 0;
    border-radius: 10px;
    color: #000000;
    background-color: #f8d24e;
  }
  .btn-buy__icon {
    margin-left: 4px;
    color: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
}
.navigation {
  display: flex;
}

.header-nav {
  display: flex;
  margin-right: 205px;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-right: 28px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fcfcfc;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #f8d24e;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}
.button {
  display: flex;
  align-items: center;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 108px;
  height: 38px;
  padding: 0;
  margin-right: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
  background-color: #84a178;
  border: 2px solid #f8d24e;
  border-radius: 8px;
}

.hero__btn:last-child {
  margin-right: 0;
}

.hero__btn--dish {
  width: 100px;
  height: 24px;
  padding: 0;
  color: #f8d24e;
  text-decoration: underline;
  border: 0;
}

.street-food__title {
  display: flex;
  flex-direction: column;
  font-family: "Seymour One", sans-serif;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.point-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero__img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-size: auto;
}

.section-hero {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .section-hero {
    padding-bottom: 150px;
  }
  .street-food__title {
    font-size: 26px;
    line-height: 1.26;
  }
  .street-food__title--passion {
    font-size: 34px;
    line-height: 0.97;
  }
  .point-image {
    height: 52px;
    right: 0;
    bottom: 0;
  }
  .hero__img {
    right: 28px;
    bottom: 0;
  }
  .lot-ice-cream {
    display: none;
  }
  .institution {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .section-hero {
    padding-bottom: 236px;
  }
  .point-image {
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .hero__img {
    width: 50%;
    right: 83px;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 12px;
  }
  .street-food {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .street-food__title {
    font-size: 26px;
    line-height: 1.26;
    margin-bottom: 24px;
  }
  .street-food__title--passion {
    font-size: 34px;
    line-height: 0.97;
  }
  .institution__text {
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    text-transform: uppercase;
    color: #131313;
  }
  .institution__desc {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    text-transform: none;
    letter-spacing: 0;
  }
  .institution__desc:last-child {
    margin-bottom: 0;
  }
  .hero__btn--dish {
    width: 114px;
    height: 24px;
  }
  .hero__img {
    right: 92px;
    bottom: 0;
  }
  .lot-ice-cream {
    display: flex;
    align-items: center;
  }
  .lot-ice-cream__img {
    position: relative;
    margin-right: 32px;
    z-index: 1;
  }
  .attract_text {
    width: 165px;
    height: 68px;
    margin-bottom: 29px;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 140%;
  }
}
@media screen and (min-width: 1200px) {
  .heigth {
    position: relative;
    height: 546px;
  }
  .street-food__title {
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 28px;
  }
  .street-food__title--passion {
    font-size: 38px;
    line-height: 1.26;
  }
  .institution__text {
    font-size: 46px;
    line-height: 1.21;
  }
  .institution__desc {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }
  .hero__btn {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
  }
  .hero__btn--dish {
    width: 154px;
    height: 40px;
    line-height: 1.21;
  }
  .button {
    margin-bottom: 42px;
  }
  .point-image {
    right: -16px;
    bottom: 0;
  }
  .lot-ice-cream__img {
    margin-right: 16px;
  }
  .attract_text {
    margin-bottom: 24px;
    width: 200px;
    height: 80px;
    font-size: 14px;
  }
}
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__text {
  font-weight: 800;
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  text-transform: uppercase;
  color: #131313;
}

.products__title {
  text-align: center;
  margin-bottom: 145px;
  font-size: 30px;
  font-family: "Seymour One", sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #131313;
}

.variety {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 168px;
}

.variety__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 420px;
  padding: 123px 40px 16px;
  border-radius: 24px;
}

.variety__item--cream {
  background-color: #aec6a5;
}
.variety__item--cream::before {
  content: "";
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), none;
  box-shadow: 0px 5.3421931267px 20.0332221985px 0px rgba(10, 136, 23, 0.25);
}
.variety__item--cream::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  top: -108px;
  background-image: url("../images/ice-cream-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .variety__item--cream::after {
    background-image: url("../images/ice-cream-200@2x.png");
  }
}
.variety__item--coffee {
  background-color: #efd478;
}
.variety__item--coffee::before {
  content: "";
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), none;
  box-shadow: 0px 5.4039735794px 20.2649002075px 0px rgba(153, 114, 23, 0.25);
}
.variety__item--coffee::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  top: -108px;
  background-image: url("../images/ice-coffee-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .variety__item--coffee::after {
    background-image: url("../images/ice-coffee-200@2x.png");
  }
}
.variety__item--milkshakes {
  background-color: #d6936d;
}
.variety__item--milkshakes::before {
  content: "";
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), none;
  box-shadow: 0px 5.4133329391px 20.2999992371px 0px rgba(0, 0, 0, 0.25);
}
.variety__item--milkshakes::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  top: -108px;
  background-image: url("../images/milkshakes-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .variety__item--coffee::after {
    background-image: url("../images/milkshakes-200@2x.png");
  }
}
.variety__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #131313;
}

.variety__text {
  text-align: center;
  margin-bottom: 101px;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.56px;
  color: #131313;
}
.variety__text--coffee {
  margin-bottom: 53px;
}
.variety__text--milkshakes {
  margin-bottom: 72px;
}

.variety__button {
  background-color: #aec6a5;
  border: 0;
}
.variety__button--coffee {
  background-color: #efd478;
}
.variety__button--milkshakes {
  background-color: #d6936d;
}

.variety__image {
  fill: #131313;
  background-color: #aec6a5;
}
.variety__image--coffee {
  background-color: #efd478;
}
.variety__image--milkshakes {
  background-color: #d6936d;
}

@media screen and (min-width: 480px) {
  .variety__item {
    max-width: 320px;
    min-height: 428px;
    padding: 123px 60px 16px;
  }
  .variety__text {
    margin-bottom: 106px;
  }
  .variety__text--coffee {
    margin-bottom: 61px;
  }
  .variety__text--milkshakes {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 780px) {
  .products__text {
    font-size: 22px;
  }
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    letter-spacing: 1.36px;
  }
  .variety {
    gap: 16px;
  }
  .variety__item {
    max-width: 224px;
    padding: 108px 12px 12px;
  }
  .variety__title {
    font-size: 22px;
    letter-spacing: 0.88px;
  }
  .variety__text {
    margin-bottom: 81px;
  }
  .variety__text--coffee {
    margin-bottom: 50px;
  }
  .variety__text--milkshakes {
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .products__title {
    margin-bottom: 303px;
    font-size: 36px;
    letter-spacing: 2.16px;
  }
  .variety {
    gap: 29px;
  }
  .variety__item {
    max-width: 370px;
    min-height: 536px;
    padding: 165px 34px 60px;
  }
  .variety__item--cream::before {
    width: 302px;
    height: 302px;
    top: -167px;
  }
  .variety__item--cream::after {
    width: 302px;
    height: 302px;
    top: -187px;
    background-image: url("../images/ice-cream-300.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .variety__item--cream::after {
    background-image: url("../images/ice-cream-300@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .variety__item--coffee::before {
    width: 302px;
    height: 302px;
    top: -167px;
  }
  .variety__item--coffee::after {
    width: 302px;
    height: 302px;
    top: -187px;
    background-image: url("../images/ice-coffee-302.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .variety__item--coffee::after {
    background-image: url("../images/ice-coffee-302@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .variety__item--milkshakes::before {
    width: 302px;
    height: 302px;
    top: -167px;
  }
  .variety__item--milkshakes::after {
    width: 302px;
    height: 302px;
    top: -187px;
    background-image: url("../images/milkshakes-302.png");
  }
}
@media screen and (min-width: 1200px) {
  .variety__title {
    margin-bottom: 66px;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
@media screen and (min-width: 1200px) {
  .variety__text {
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-bottom: 50px;
  }
  .variety__text--coffee {
    margin-bottom: 50px;
  }
  .variety__text--milkshakes {
    margin-bottom: 50px;
  }
}
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__text-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
}

.about__title-label {
  text-align: center;
  margin-bottom: 54px;
  font-size: 30px;
  font-family: "Seymour One", sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.about__images {
  border-radius: 140px;
  box-shadow: 0 -22px #f8d24e;
}

.about__content--made {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  padding: 0 30px;
}

.about__content--text {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.about__paragraph {
  text-align: center;
  letter-spacing: 0.48px;
  font-size: 12px;
}

.about__paragraph:first-child {
  line-height: 176%;
  letter-spacing: 0.48px;
}

.about__paragraph:not(:first-child) {
  font-size: 12px;
  line-height: 162%;
}

.about__content--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 42px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: 0;
  border-radius: 10px;
  color: #000000;
  background-color: #f8d24e;
}

@media screen and (max-width: 767px) {
  .about__title-label {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
}
@media screen and (min-width: 480px) {
  .about__content--made {
    padding: 0;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .about__text-label {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.88px;
  }
  .about__title-label {
    margin-bottom: 98px;
    font-size: 34px;
    letter-spacing: 2.04px;
  }
  .about__images {
    border-radius: 165px;
    box-shadow: 0 -26px #f8d24e;
  }
  .about__content {
    flex-wrap: nowrap;
    align-items: center;
    gap: 38px;
  }
  .about__content--made {
    align-items: flex-start;
    gap: 32px;
  }
  .about__content--images {
    flex-basis: 50%;
  }
  .about__content--text {
    gap: 8px;
  }
  .about__paragraph {
    text-align: left;
  }
  .about__paragraph:last-child {
    line-height: 194%;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-label {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .about__title-label {
    margin-bottom: 121px;
    font-size: 36px;
    letter-spacing: 2.16px;
  }
  .about__images {
    border-radius: 250px;
    box-shadow: 0 -39px #f8d24e;
  }
  .about__content {
    justify-content: flex-start;
    gap: 109px;
  }
  .about__content--made {
    flex-basis: 463px;
    gap: 54px;
  }
  .about__content--images {
    flex-basis: 490px;
  }
  .about__paragraph {
    text-align: left;
  }
  .about__paragraph:first-child {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
  .about__paragraph:not(:first-child) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
  .about__paragraph:last-child {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
}
.advantages {
  background-color: #84a178;
  padding-bottom: 68px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 230px;
  margin-bottom: 22px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 25px;
}

.advantages__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.advantages__text {
  text-align: center;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0;
}

@media screen and (min-width: 480px) {
  .advantages__item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
  }
  .advantages__item {
    max-width: 152px;
    margin-right: 80px;
    margin-bottom: 0;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
  .advantages__icon {
    margin-bottom: 32px;
  }
  .advantages__title {
    margin-bottom: 12px;
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: 368px;
    margin-right: 32px;
  }
  .advantages__icon {
    margin-bottom: 40px;
  }
  .advantages__title {
    font-size: 58px;
    letter-spacing: 2.32px;
  }
  .advantages__text {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.32px;
  }
}/*# sourceMappingURL=index.css.map */