<section class="section products">
  <div class="container">
    <p class="products__text">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="variety">
      <li class="variety__item variety__item--cream">
        <h3 class="variety__title">ICE CREAM</h3>
        <p class="variety__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
