<section id="page-products" class="section product">
  <div class="container">
    <p class="products__text">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="variety list">
      <li class="variety__item variety__item--cream">
        <h3 class="variety__title">ICE CREAM</h3>
        <p class="variety__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="variety__button" type="button">
          <svg class="variety__image" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="variety__item variety__item--coffee">
        <h3 class="variety__title">ICE COFFEE</h3>
        <p class="variety__text variety__text--coffee">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="variety__button variety__button--coffee" type="button">
          <svg
            class="variety__image variety__image--coffee"
            width="40"
            height="16"
          >
            <use href="./images/symbol-defs.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="variety__item variety__item--milkshakes">
        <h3 class="variety__title">MILKSHAKES</h3>
        <p class="variety__text variety__text--milkshakes">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="variety__button variety__button--milkshakes"
          type="button"
        >
          <svg
            class="variety__image variety__image--milkshakes"
            width="40"
            height="16"
          >
            <use href="./images/symbol-defs.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
