<section class="section about">
  <div class="container">
    <p class="about__text-label">tradition and love</p>
    <h2 class="about__title-label">how it’s made?</h2>
    <div class="about__content">
      <picture>
        <source
        
          srcset="
            ./images/cow-desktop-1200.webp    1x,
            ./images/cow-desktop-1200@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/cow-desktop-1200.jpg 1x,
            ./images/cow-desktop-1200.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/cow-tablet-330.webp    1x,
            ./images/cow-tablet-330@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/cow-tablet-330.jpg    1x,
            ./images/cow-tablet-330@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/cow-279.webp 1x, ./images/cow-279@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./images/cow-279.jpg 1x, ./images/cow-279@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img class="about__images image" src="./images/cow-279.jpg" alt="Cow" />
      </picture>
    </div>
  </div>
</section>
