<section>
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/ice-cream-1200-1.webp    1x,
              ./images/ice-cream-1200-1@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-1200-1.jpg    1x,
              ./images/ice-cream-1200-1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/ice-cream-768-1.webp    1x,
              ./images/ice-cream-768-1@2x.webp 2x
            "
            media="(min-width: 780px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-768-1.jpg    1x,
              ./images/ice-cream-768-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/ice-cream-480-1.webp    1x,
              ./images/ice-cream-480-1@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-480-1.jpg    1x,
              ./images/ice-cream-480-1@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/ice-cream-320-mob-1.webp    1x,
              ./images/ice-cream-320-mob-1@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcret="./images/ice-cream-320-mob-1.jpg 1x,
          ./images/ice-cream-320-mob-1@2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            class="gallery__image image"
            src="./images/ice-cream-320-mob-1.jpg"
            alt="ICE CREAM"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/ice-cream-1200-2.webp    1x,
              ./images/ice-cream-1200-2@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-1200-2.jpg    1x,
              ./images/ice-cream-1200-2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/ice-cream-768-2.webp    1x,
              ./images/ice-cream-768-2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-768-2.jpg    1x,
              ./images/ice-cream-768-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/ice-cream-480-2.webp    1x,
              ./images/ice-cream-480-2@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-480-2.jpg    1x,
              ./images/ice-cream-480-2@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/ice-cream-320-2.webp    1x,
              ./images/ice-cream-320-2@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-320-2.jpg    1x,
              ./images/ice-cream-320-2@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="gallery__image image"
            src="./images/ice-cream-320-2.jpg"
            alt="ICE CREAM"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/ice-cream-1200-3.webp    1x,
              ./images/ice-cream-1200-3@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-1200-3.jpg    1x,
              ./images/ice-cream-1200-3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/ice-cream-768-3.webp    1x,
              ./images/ice-cream-768-3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-768-3.jpg    1x,
              ./images/ice-cream-768-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/ice-cream-480-3.webp    1x,
              ./images/ice-cream-480-3@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-480-3.jpg    1x,
              ./images/ice-cream-480-3@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/ice-cream-320-mob-3.webp    1x,
              ./images/ice-cream-320-mob-3@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/ice-cream-320-mob-3.jpg    1x,
              ./images/ice-cream-320-mob-3@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="gallery__image image"
            src="./images/ice-cream-320-mob-3.jpg"
            alt="ICE CREAM"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
