<section class="hero section-hero section">
  <div class="container hero__container">
    <div class="heigth">
      <div class="street-food">
        <div>
          <h1 class="street-food__title">
            Ice cream <br />
            made with
            <span class="street-food__title--passion">passion</span>
          </h1>
        </div>
        <div class="institution">
          <p class="institution__text">16</p>
          <p class="institution__desc">cofes</p>
          <p class="institution__text">23</p>
          <p class="institution__desc">food trucks</p>
        </div>
      </div>
      <div class="button">
        <button type="button" class="hero__btn">Products</button>
        <button type="button" class="hero__btn hero__btn--dish">
          How it's made?
        </button>
      </div>
      <picture>
        <source
          srcset="
            ./images/ice-cream-desktop-1200.webp    1x,
            ./images/ice-cream-desktop-1200@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/ice-cream-desktop-1200.jpg    1x,
            ./images/ice-cream-desktop-1200@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/ice-cream-tablet-768.webp    1x,
            ./images/ice-cream-tablet-768@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/ice-cream-tablet-768.jpg    1x,
            ./images/ice-cream-tablet-768@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/ice-cream-mob-480.webp    1x,
            ./images/ice-cream-mob-480@2x.webp 2x
          "
          media="(min-width: 480px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/ice-cream-mob-480.jpg    1x,
            ./images/ice-cream-mob-480@2x.jpg 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/ice-cream-mob-117.webp    1x,
            ./images/ice-cream-mob-117@2x.webp 2x
          "
          media="(max-width: 479px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/ice-cream-mob-117.jpg    1x,
            ./images/ice-cream-mob-117@2x.jpg 2x
          "
          media="(max-width: 479px)"
        />
        <img
          class="hero__img"
          src="./images/ice-cream-mob-117.jpg"
          alt="Ice cream"
        />
      </picture>
      <picture>
        <source
          srcset="./images/point-1200.webp 1x, ./images/point-1200@2x.webp 2x"
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="./images/point-1200.jpg 1x, ./images/point-1200@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/point-768.webp 1x, ./images/point-768@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/point-768.jpg 1x, ./images/point-768@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/point.webp 1x, ./images/point@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source srcset="./images/point.jpg 1x, ./images/point@2x.jpg 2x" />
        <img class="point-image" src="./images/point.jpg" alt="Point" />
      </picture>
      <div class="lot-ice-cream">
        <picture>
          <source
            srcset="
              ./images/lot-ice-cream-1200.webp    1x,
              ./images/lot-ice-cream-1200@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/lot-ice-cream-1200.jpg    1x,
              ./images/lot-ice-cream-1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/lot-ice-cream-768.webp    1x,
              ./images/lot-ice-cream-768@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/lot-ice-cream-768.jpg    1x,
              ./images/lot-ice-cream-768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="image lot-ice-cream__img"
            src="./images/lot-ice-cream-768.jpg"
            alt="A lot of ice cream"
          />
        </picture>
        <div class="attract">
          <p class="attract_text">
            Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgettable experience!
          </p>
          <svg width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
