.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(#000, 0.6);
  transition: opacity $animation;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-window {
  position: relative;
  margin: 0 auto;
  padding: 28px 28px;
  width: 280px;
  background-color: $main-color;
  border-radius: 10px;
  border: 2px solid $background-color-btn;
  transition: transform $animation, opacity $animation;
  opacity: 1;
}
.backdrop.is-hidden.modal-window{
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  top: 12px;
  right: 12px;
  background-color: $main-color;
  border: $main-color;
  transition: opacity $animation;
}
.modal-window__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $secondary-color;
}
.modal-window__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-window__item {
  position: relative;
  height: 199px;
  margin-bottom: 20px;
}
.modal-window__item:last-child {
  margin-bottom: 31px;
}
.modal-window__img {
  position: absolute;
  z-index: 2;
}
.ellipse {
  position: relative;
  top: 7px;
  width: 132px;
  height: 132px;
  border-radius: 100%;
  z-index: 1;

  &__ice-cream {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }
  &__coffee {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }
  &__milkshake {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.card {
  position: absolute;
  width: 132px;
  height: 136px;
  border-radius: 15px;

  &__ice-cream {
    top: 63px;
    border: 2px solid $border-cards;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  }
  &__ice-coffee {
    top: 62px;
    background: #efd478;
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  }
  &__milkshake {
    top: 64px;
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  }
}
.modal-window__text {
  text-align: center;
  padding-top: 96px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $secondary-color;
}
.modal-form {
  display: block;
}
.modal-form__field {
  text-align: left;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
.modal-form__input {
  width: 100%;
  height: 32px;
  padding: 0 0 0 12px;
  cursor: pointer;
  background-color: $background-input;
  border: 1px solid $border-input;
  border-radius: 10px;

  &--comment {
    display: block;
    resize: none;
    height: 65px;
    padding-top: 8px;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 140%;
    color: $secondary-color;
  }
}
.modal-form__button {
  display: flex;
  justify-content: center;
}
.modal-form__submit {
  width: 114px;
  height: 42px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary-color;
  background-color: $background-color-btn;
  border: 0;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal-close {
    width: 24px;
    height: 24px;
  }
  .modal-window__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .modal-window {
    position: fixed;
    width: 568px;
    height: 644px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-window__list {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .modal-window__item {
    margin-bottom: 0;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .modal-form__field {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
  .modal-form__input {
    height: 42px;
    padding: 0 0 0 16px;

    &--comment {
      height: 84px;
      padding-top: 11px;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
  .modal-form__submit {
    width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }
}
