.page-header {
  position: relative;
  background-color: $section-background-color;
  padding-top: 12px;
  padding-bottom: 50px;
}

.page-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .page-header{
    padding-top: 14px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header{
    padding-top: 20px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px){
  .page-header{
    padding-top: 8px;
    padding-bottom: 45px;
  }
}
