.about {
  padding-top: 60px;
  padding-bottom: 80px;
}
.about__text-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
}
.about__title-label {
  text-align: center;
  margin-bottom: 54px;
  font-size: 30px;
  font-family: $font-family;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.about__images {
  border-radius: 140px;
  box-shadow: 0 -22px $background-color-btn;
}
.about__content--made {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  padding: 0 30px;
}
.about__content--text {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.about__paragraph {
  text-align: center;
  letter-spacing: 0.48px;
  font-size: 12px;
}
.about__paragraph:first-child {
  line-height: 176%;
  letter-spacing: 0.48px;
}
.about__paragraph:not(:first-child) {
  font-size: 12px;
  line-height: 162%;
}
.about__content--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 42px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: 0;
  border-radius: 10px;
  color: $text-color-btn;
  background-color: $background-color-btn;
}
@media screen and (max-width: 767px) {
  .about__title-label {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
}
@media screen and (min-width: 480px) {
  .about__content--made {
    padding: 0;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .about__text-label {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.88px;
  }
  .about__title-label {
    margin-bottom: 98px;
    font-size: 34px;
    letter-spacing: 2.04px;
  }
  .about__images {
    border-radius: 165px;
    box-shadow: 0 -26px $background-color-btn;
  }
  .about__content {
    flex-wrap: nowrap;
    align-items: center;
    gap: 38px;
  }
  .about__content--made {
    align-items: flex-start;
    gap: 32px;
  }
  .about__content--images {
    flex-basis: 50%;
  }
  .about__content--text {
    gap: 8px;
  }
  .about__paragraph {
    text-align: left;
  }
  .about__paragraph:last-child {
    line-height: 194%;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-label {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .about__title-label {
    margin-bottom: 121px;
    font-size: 36px;
    letter-spacing: 2.16px;
  }
  .about__images {
    border-radius: 250px;
    box-shadow: 0 -39px $background-color-btn;
  }
  .about__content {
    justify-content: flex-start;
    gap: 109px;
  }
  .about__content--made {
    flex-basis: 463px;
    gap: 54px;
  }
  .about__content--images {
    flex-basis: 490px;
  }
  .about__paragraph {
    text-align: left;
  }
  .about__paragraph:first-child {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
  .about__paragraph:not(:first-child) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
  .about__paragraph:last-child {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
}
