.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__text {
  font-weight: 800;
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  text-transform: uppercase;
  color: $secondary-color;
}
.products__title {
  text-align: center;
  margin-bottom: 145px;
  font-size: 30px;
  font-family: $font-family;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $secondary-color;
}
.variety__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 126px 60px 16px;
  width: 100%;
  min-height: 428px;
  border-radius: 24px;
}
.variety__item--cream {
  background-color: #aec6a5;

  &::before {
    content: '';
    position: absolute;
    top: -94px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #d9d9d9;
    background-image: linear-gradient(
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      none;
    box-shadow: 0px 5.342193126678467px 20.033222198486328px 0px
      rgba(10, 136, 23, 0.25);
  }
  &::after {
    content: '';
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: -105px;
    background-image: url('../images/ice-cream-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .variety__item--cream::after {
    background-image: url('../images/ice-cream-200@2x.png');
  }
}
.variety__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $secondary-color;
}
.variety__text {
  text-align: center;
  margin-bottom: 106px;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.56px;
  color: $secondary-color;
}

@media screen and (min-width: 780px) {
  .products__text {
    font-size: 22px;
  }
  .products__title {
    font-size: 34px;
    letter-spacing: 1.36px;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .products__title {
    font-size: 36px;
    letter-spacing: 2.16px;
  }
}
