.product {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__text {
  font-weight: 800;
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  text-transform: uppercase;
  color: $secondary-color;
}
.products__title {
  text-align: center;
  margin-bottom: 145px;
  font-size: 30px;
  font-family: $font-family;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $secondary-color;
}
.variety {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 168px;
}
.variety__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 420px;
  padding: 123px 40px 16px;
  border-radius: 24px;
}
.variety__item--cream {
  background-color: #aec6a5;

  &::before {
    content: '';
    position: absolute;
    top: -97px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #d9d9d9;
    background-image: linear-gradient(
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      none;
    box-shadow: 0px 5.342193126678467px 20.033222198486328px 0px
      rgba(10, 136, 23, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: -108px;
    background-image: url('../images/ice-cream-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .variety__item--cream::after {
    background-image: url('../images/ice-cream-200@2x.png');
  }
}
.variety__item--coffee {
  background-color: #efd478;

  &::before {
    content: '';
    position: absolute;
    top: -97px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #d9d9d9;
    background-image: linear-gradient(
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      none;
    box-shadow: 0px 5.403973579406738px 20.26490020751953px 0px
      rgba(153, 114, 23, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: -108px;
    background-image: url('../images/ice-coffee-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .variety__item--coffee::after {
    background-image: url('../images/ice-coffee-200@2x.png');
  }
}
.variety__item--milkshakes {
  background-color: #d6936d;
  &::before {
    content: '';
    position: absolute;
    top: -97px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #d9d9d9;
    background-image: linear-gradient(
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      none;
    box-shadow: 0px 5.413332939147949px 20.299999237060547px 0px
      rgba(0, 0, 0, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: -108px;
    background-image: url('../images/milkshakes-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .variety__item--coffee::after {
    background-image: url('../images/milkshakes-200@2x.png');
  }
}
.variety__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $secondary-color;
}
.variety__text {
  text-align: center;
  margin-bottom: 101px;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.56px;
  color: $secondary-color;

  &--coffee {
    margin-bottom: 53px;
  }
  &--milkshakes {
    margin-bottom: 72px;
  }
}
.variety__button {
  background-color: #aec6a5;
  border: 0;
  cursor: pointer;
  &--coffee {
    background-color: #efd478;
  }
  &--milkshakes {
    background-color: #d6936d;
  }
}
.variety__image {
  fill: $secondary-color;
  background-color: #aec6a5;
  &--coffee {
    background-color: #efd478;
  }
  &--milkshakes {
    background-color: #d6936d;
  }
}

@media screen and (min-width: 480px) {
  .variety__item {
    max-width: 320px;
    min-height: 428px;
    padding: 123px 60px 16px;
  }
  .variety__text {
    margin-bottom: 106px;
    &--coffee {
      margin-bottom: 61px;
    }
    &--milkshakes {
      margin-bottom: 80px;
    }
  }
}
@media screen and (min-width: 780px) {
  .products__text {
    font-size: 22px;
  }
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    letter-spacing: 1.36px;
  }
  .variety {
    gap: 16px;
  }
  .variety__item {
    max-width: 224px;
    padding: 108px 12px 12px;
  }
  .variety__title {
    font-size: 22px;
    letter-spacing: 0.88px;
  }
  .variety__text {
    margin-bottom: 81px;
    &--coffee {
      margin-bottom: 50px;
    }
    &--milkshakes {
      margin-bottom: 75px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .products__title {
    margin-bottom: 303px;
    font-size: 36px;
    letter-spacing: 2.16px;
  }
  .variety {
    gap: 29px;
  }
  .variety__item {
    max-width: 370px;
    min-height: 536px;
    padding: 165px 34px 60px;
  }

  .variety__item--cream {
    &::before {
      width: 302px;
      height: 302px;
      top: -167px;
    }
    &::after {
      width: 302px;
      height: 302px;
      top: -187px;
      background-image: url('../images/ice-cream-300.png');
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .variety__item--cream::after {
      background-image: url('../images/ice-cream-300@2x.png');
    }
  }
  .variety__item--coffee {
    &::before {
      width: 302px;
      height: 302px;
      top: -167px;
    }
    &::after {
      width: 302px;
      height: 302px;
      top: -187px;
      background-image: url('../images/ice-coffee-302.png');
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .variety__item--coffee::after {
      background-image: url('../images/ice-coffee-302@2x.png');
    }
  }
  .variety__item--milkshakes {
    &::before {
      width: 302px;
      height: 302px;
      top: -167px;
    }
    &::after {
      width: 302px;
      height: 302px;
      top: -187px;
      background-image: url('../images/milkshakes-302.png');
    }
  }
  .variety__title {
    margin-bottom: 66px;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .variety__text {
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-bottom: 50px;
    &--coffee {
      margin-bottom: 50px;
    }
    &--milkshakes {
      margin-bottom: 50px;
    }
  }
}
